
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted" style="float: left;">{{ site.data.global.footer_text }}</p>
                    <div style="display: inline-block;" class="pull-right">
                        <a href="https://www.facebook.com/arunabh.ghosh.5" style="margin-right: 1em;"><i class="fa fa-facebook-square fa-2x"></i></a>
                        <a href="https://www.linkedin.com/in/arunabh-ghosh-2126aa111?trk=nav_responsive_tab_profile" style="margin-right: 1em;"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        <a href="https://plus.google.com/u/0/113929059783884652212/posts" style="margin-right: 1em;"><i class="fa fa-google-plus fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ site.data.global.url }}/js/power.js"></script>

    </body>
</html>